{% extends "base.html" %}

{% block extrajs %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
{% endblock %}

{% block content %}
	<div class=header>
		<h1>Z-Pulley Inc. URL Shortener</h1>

{% if stumpy_domain %}
			<p class=booky>
				<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://{{ stumpy_domain }}/static/bookmarklet.js';})();">&#8620;&nbsp;Zply Bookmarklet</a>
				<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://{{ stumpy_domain }}/static/iframer.js';})();">&#8620;&nbsp;My Links</a>
			</p>
{% else %}
			<p class=booky>Can't grab domain for bookmarklet!</p>
{% endif %}
	</div>

{% if my_stumps %}
    <strong>URL:</strong>
    <input id=newurl type=text size=60>
    <button type=button id=NewURLBut>Add New URL</button>
<script>
$(document).ready(function(){
  $('#NewURLBut').click(function(){
      var newurl = escape($('#newurl').val());
      $.get('url/'+newurl,function(data) {
        location.reload(true);
      });
  });

});
</script>
{% endif %}

{% if stump_stats_num and stump_stats_visits %}
	<p class=lister>{{ stump_stats_num }} stump{{ stump_stats_num|pluralize }} tripped over {{ stump_stats_visits }} time{{ stump_stats_visits|pluralize }}</p>
{% else %}
	<p class=lister>uknown stump statistics</p>
{% endif %}

{% if recent_stumps_list %}
    <p class=lister> fresh cut stumps</p>
    <table>
    {% for stump in recent_stumps_list %}
		<tr>
			<td class="tablelink"><a target=_blank href="/{{ stump.shorturl }}/">{{ stumpy_domain }}/{{ stump.shorturl }}</a></td>
			<td class="tabledesc">{{ stump.long_to_less_long }}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No stumps are available.</p>
{% endif %}

{% if famous_stumps_list %}
    <p class=lister> famous stumps in history</p>
    <table>
    {% for stump in famous_stumps_list %}
        <tr>
			<td class="tablelink"><a target=_blank href="/{{ stump.shorturl }}/">{{ stumpy_domain }}/{{ stump.shorturl }}</a></td>
			<td class="tablehits">{{ stump.hits }}</td>
			<td class="tabledesc">{{ stump.long_to_less_long }}</td>
		</tr>
	{% endfor %}
    </table>
{% else %}
    <p>No stumps are available.</p>
{% endif %}

{% if my_stumps %}
	<p class=lister> stumps cut by you</p>
	<table>
	{% for stump in my_stumps %}
        <tr>
			<td class="tablelink"><a target=_blank href="/{{ stump.shorturl }}/">{{ stumpy_domain }}/{{ stump.shorturl }}</a></td>
			<td class="tablehits">{{ stump.hits }}</td>
			<td class="tabledesc">{{ stump.long_to_less_long }}</td>
		</tr>	
	{% endfor %}
	</table>
{% endif %}

{% endblock %}
